<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Acteurs de la biodiversité | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">
            
            
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px; margin-bottom: 0px;">
              <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url({{url_for('static', filename='custom/images/concours_prairies_fleuries.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Acteurs de la biodiversité en Pays de la Loire</h1>
                      <p>Découvrez tous les acteurs en matière de biodiversité, et notamment tous les acteurs adhérents au SINP !</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.carousel -->

            <div class="container presentation">
                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="regionpdl" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_region_pdl.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Région des Pays de la Loire</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.paysdelaloire.fr/politiques-regionales/environnement/" target="_bank">www.paysdelaloire.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="drealpdl" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_dreal_pdl.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">DREAL des Pays de la Loire</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.pays-de-la-loire.developpement-durable.gouv.fr/" target="_bank">www.pays-de-la-loire.developpement-durable.gouv.fr</a></p>
                      </div>
                  </div>
                </div>
              
                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cbnb" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_CBN_de_Brest.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Conservatoire Botanique National de Brest</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : inter-régional, dont Pays de la Loire</p>

                        <p>Site web : <a href="http://www.cbnbrest.fr" target="_bank">www.cbnbrest.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cenpdl" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cen_pdl.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Conservatoire d'espaces naturels des Pays de la Loire</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : Pays de la Loire</p>

                        <p>Site web : <a href="http://cenpaysdelaloire.fr/" target="_bank">cenpaysdelaloire.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="gretia" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_gretia.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Groupe d'étude des invertébrés armoricains</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : inter-régional, dont Pays de la Loire</p>

                        <p>Site web : <a href="http://www.gretia.org/" target="_bank">www.gretia.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="lpopdl" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_coordi_lpo_pdl.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Coordination régionale LPO Pays de la Loire</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : Pays de la Loire</p>

                        <p>Site web : <a href="http://paysdelaloire.lpo.fr/" target="_bank">paysdelaloire.lpo.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="lpoanjou" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_lpo_49.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Ligue pour la Protection des Oiseaux Anjou</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : Vertébrés (Oiseaux, Mammifères, Reptiles, Amphibiens), Invertébrés (Papillons, Libellules), Plantes.</p>
                        <p>Territoire : Maine et Loire (49)</p>

                        <p>Site web : <a href="http://www.lpo-anjou.org/" target="_bank">www.lpo-anjou.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="lpoloireatlantique" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_lpo_44.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Ligue pour la Protection des Oiseaux Loire-Atlantique</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : Vertébrés (Oiseaux, Mammifères, Reptiles, Amphibiens), Invertébrés (Papillons, Libellules), Plantes.</p>
                        <p>Territoire : Loire-Atlantique (44)</p>

                        <p>Site web : <a href="http://loire-atlantique.lpo.fr/" target="_bank">loire-atlantique.lpo.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="lpovendee" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_lpo_85.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Ligue pour la Protection des Oiseaux Vendée</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : Vertébrés (Oiseaux, Mammifères, Reptiles, Amphibiens), Invertébrés (Papillons, Libellules), Plantes.</p>
                        <p>Territoire : Vendée (85)</p>

                        <p>Site web : <a href="https://vendee.lpo.fr" target="_bank">vendee.lpo.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="lposarthe" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_lpo_72.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Ligue pour la Protection des Oiseaux Sarthe</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : Vertébrés (Oiseaux, Mammifères, Reptiles, Amphibiens), Invertébrés (Papillons, Libellules), Plantes.</p>
                        <p>Territoire : Sarthe (72)</p>

                        <p>Site web : <a href="https://sarthe.lpo.fr" target="_blank">sarthe.lpo.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="mne" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_mne_53.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Mayenne Nature Environnement</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons :</p>
                        <p>Territoire : Mayenne (53)</p>

                        <p>Site web : <a href="http://www.mayennenatureenvironnement.fr" target="_blank">www.mayennenatureenvironnement.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="natvendeens" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_naturalistes_85.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Les Naturalistes vendéens</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons :</p>
                        <p>Territoire : Vendée (85)</p>

                        <p>Site web : <a href="http://www.naturalistes-vendeens.org" target="_blank">www.naturalistes-vendeens.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="urcpie" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_urcpie_pdl.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Union régionale des CPIE des Pays de la Loire</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://urcpie-paysdelaloire.org/" target="_bank">urcpie-paysdelaloire.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cpielognegrandlieu" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cpie_lognegrandlieu.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Centre Permanent d'Initiatives pour l'Environnement Logne et Grand-Lieu</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://cpie-logne-grandlieu.org" target="_bank">cpie-logne-grandlieu.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cpieloireanjou" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cpie_loireanjou.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Centre Permanent d'Initiatives pour l'Environnement Loire-Anjou</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.cpieloireanjou.fr" target="_bank">www.cpieloireanjou.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cpieloireoceane" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cpie_loireoceane.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Centre Permanent d'Initiatives pour l'Environnement Loire Océane</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.cpie-loireoceane.com/" target="_bank">www.cpie-loireoceane.com/</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cpiemayennebasmaine" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cpie_mayennebasmaine.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Centre Permanent d'Initiatives pour l'Environnement Mayenne - Bas Maine</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.cpie-mayenne.org" target="_bank">www.cpie-mayenne.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cpiepaysdenantes" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cpie_nantesecopole.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Centre Permanent d'Initiatives pour l'Environnement Pays de Nantes - Ecopôle</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.ecopole.com" target="_bank">www.ecopole.com</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cpiesevrebocage" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cpie_sevrebocage.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Centre Permanent d'Initiatives pour l'Environnement CPIE Sèvre et Bocage</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.cpie-sevre-bocage.com" target="_bank">www.cpie-sevre-bocage.com</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cpiesartheloir" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cpie_sartheloir.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Centre Permanent d'Initiatives pour l'Environnement CPIE Vallées de la Sarthe et du Loir</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : </p>

                        <p>Site web : <a href="http://www.cpie72.ouvaton.org" target="_bank">www.cpie72.ouvaton.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="bvivante" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_bvivante.jpg') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Bretagne Vivante</h3>
                        <p>Contact : </p>
                        <p>Mail : </p>
                        <p>Tél. : </p>
                        <p>Coordonnées : </p>
                        <p>Taxons : </p>
                        <p>Territoire : inter-régional, dont Loire-Atlantique (44) </p>

                        <p>Site web : <a href="https://www.bretagne-vivante.org/Loire-Atlantique" target="_bank">www.bretagne-vivante.org/Loire-Atlantique</a></p>
                      </div>
                  </div>
                </div>

              <hr class="featurette-divider">

            </div>
          </div>
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
        var communesSearch = {{communesSearch|tojson}},
            configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>
