<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Outils complémentaires | {{configuration.NOM_APPLICATION}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">
            
            
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px; margin-bottom: 0px;">
              <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url({{url_for('static', filename='custom/images/Briza_media_cen_pdl.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Outils complémentaires</h1>
                      <p>Découvrez tous les outils complémentaires en matière de données de biodiversité dans cet annuaire.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.carousel -->

            <div class="container presentation">

              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="sinp" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_sinp.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Système d'Information sur la Nature et les Paysages</h3>
                        <p>Le Système d'information sur la nature et les paysages (SINP) est un dispositif partenarial entre le Ministère de la transition écologique et solidaire, les associations, les collectivités territoriales, les établissements publics et opérateurs, les services de l’État, etc. Ce réseau d’acteurs est structuré par plusieurs instances au niveau régional et national.</p>
                        <p>Pour en savoir plus : <a href="http://www.naturefrance.fr/sinp/presentation-du-sinp" target="_bank">www.naturefrance.fr/sinp/presentation-du-sinp</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="inpn" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_inpn.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Inventaire National du Patrimoine Naturel</h3>
                        <p>L’Inventaire national du patrimoine naturel (INPN) est un vaste programme d’inventaire permanent, coordonné par le Museum national d’histoire naturel, pour gérer et diffuser des informations de référence sur les espèces animales et végétales actuelles et anciennes, continentales et marines, les habitats naturels, les espaces protégés et le patrimoine géologique, en métropole et en outre-mer.</p>
                        <p>Site web : <a href="https://inpn.mnhn.fr/accueil/index" target="_bank">inpn.mnhn.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="onb" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_onb.jpg') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Observatoire National de la Biodiversité</h3>
                        <p>L'Observatoire national de la biodiversité (ONB) est un projet participatif ouvert à tous les acteurs intéréssés par la production d'informations précises et documentées sur la biodiversité en France et ses interactions avec la société française. Ses travaux sont discutés de manière ouverte et sont publiés sur ce site. Les informations publiées par l'ONB sont complétées en continu.</p>
                        <p>Site web : <a href="http://indicateurs-biodiversite.naturefrance.fr/fr" target="_bank">indicateurs-biodiversite.naturefrance.fr</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="geopal" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_geopal.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">GEOPAL</h3>
                        <p>Le but du programme GÉOPAL est de fédérer, en Pays de la Loire, les actions des acteurs publics dans le champ de l'information géographique dans le respect des initiatives de chacun et en cohérence avec les projets nationaux existants, en particulier le Géoportail. GÉOPAL s'inscrit résolument dans les objectifs définis par la Directive Européenne INSPIRE sur la diffusion des données.</p>
                        <p>Site web : <a href="http://www.geopal.org/" target="_bank">www.geopal.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="sigloire" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_sigloire.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">SIGLOIRE</h3>
                        <p>SIGLOIRE est une infrastructure de données géographique qui permet aux services de l’État de partager et diffuser l’information géographique sur la région Pays de la Loire. Cette démarche s’inscrit dans la constitution de l’infrastructure européenne d’échange de données publiques INSPIRE. SIGLOIRE propose ainsi des services de recherche, visualisation, téléchargement et transformation de données conformes à INSPIRE. SIGLOIRE alimente en conséquence le Géocatalogue national.</p>
                        <p>Site web : <a href="http://www.sigloire.fr/" target="_bank">www.sigloire.fr</a></p>
                      </div>
                  </div>
                </div>
              
                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="atlasterri" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/atlas_territoriaux_pdl.jpg') }}">
                      </div>
                      <div class="col-xs-8">
                        <h3 class="partenaires-heading">Dispositif d'accompagnement pour les atlas territoriaux</h3>
                        <p>Des atlas territoriaux sont en cours d'élaboration, accompagnés par l'URCPIE, le CBN de Brest et le GRETIA.</p>
                        <p>Site web : <a href=# target="_bank">[à venir]</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="bdurcpie" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_urcpie_pdl.jpg') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Base de données régionale des CPIE en Pays de la Loire</h3>
                        <p></p>
                        <p>Site web : <a href="http://base.urcpie-paysdelaloire.org/" target="_bank">base.urcpie-paysdelaloire.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="bdgretia" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_gretia.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Base de données du GRETIA</h3>
                        <p></p>
                        <p>Site web : <a href="#" target="_bank">[à venir]</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cbnbsaisie" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_CBN_de_Brest.jpg') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Carnet de terrain du CBN de Brest</h3>
                        <p></p>
                        <p>Site web : <a href="http://www.cbnbrest.fr/observatoire-plantes/carnet-de-terrain" target="_bank">www.cbnbrest.fr/observatoire-plantes/carnet-de-terrain</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="ecalluna" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_CBN_de_Brest.jpg') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">eCalluna</h3>
                        <p></p>
                        <p>Site web : <a href="http://www.cbnbrest.fr/ecalluna/" target="_bank">www.cbnbrest.fr/ecalluna</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="ecolibry" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_CBN_de_Brest.jpg') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">eCoLiBry</h3>
                        <p></p>
                        <p>Site web : <a href="http://www.cbnbrest.fr/ecolibry/#home" target="_bank">www.cbnbrest.fr/ecolibry</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="faunea" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_visionature.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Faune Anjou</h3>
                        <p></p>
                        <p>Site web : <a href="https://www.faune-anjou.org/" target="_bank">www.faune-anjou.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="faunela" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_visionature.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Faune Loire-Atlantique</h3>
                        <p></p>
                        <p>Site web : <a href="https://www.faune-loire-atlantique.org/" target="_bank">www.faune-loire-atlantique.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="faunem" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_visionature.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Faune Maine</h3>
                        <p></p>
                        <p>Site web : <a href="https://www.faune-maine.org/" target="_bank">www.faune-maine.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="faunev" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_visionature.png') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">Faune Vendée</h3>
                        <p></p>
                        <p>Site web : <a href="https://www.faune-vendee.org/" target="_bank">www.faune-vendee.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="sicen" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-xs-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cen_pdl.jpg') }}">
                      </div>
                      <div class="col-xs-8 text-justify">
                        <h3 class="partenaires-heading">SICEN</h3>
                        <p></p>
                        <p>Site web : <a href="http://80.82.234.83/sicen/Sources/Vues/vAuthent.php?appli=SicenCenpdl" target="_bank">cenpaysdelaloire/sicen</a></p>
                      </div>
                  </div>
                </div>                     

              <hr class="featurette-divider">

            </div>
          </div>
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
            var communesSearch = {{communesSearch|tojson}};
            var epciSearch = {{epciSearch|tojson}};
            var departementSearch = {{departementSearch|tojson}};
            var configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>
