<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Outils complémentaires | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">
            
            
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px; margin-bottom: 0px;">
              <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url({{url_for('static', filename='custom/images/Briza_media_cen_pdl.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Outils complémentaires du SINP</h1>
                      <p>Découvrez tous les outils complémentaires dans cet annuaire.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.carousel -->

            <div class="container presentation">
                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="regionpdl" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_geopal.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">GEOPAL</h3>
                        <p>GEOPAL, le portail géographique des Pays de la Loire, est la plate-forme régionale de données de la Région Pays de la Loire. 
                    Des synthèses des patrimoines flore et faune de la région par commune et par maille sont disponibles sur ce site.</p>
                        <p>Site web : <a href="http://www.geopal.org//" target="_bank">www.http://www.geopal.org</a></p>
                      </div>
                  </div>
                </div>

                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="drealpdl" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_sigloire.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">SIGLOIRE</h3>
                        <p> De nombreux lots de données et de synthèses sont disponible sur ce portail de données de la DREAL des Pays de la Loire.</p>
                        <p>Site web : <a href="http://www.sigloire.fr/" target="_bank">www.sigloire.fr</a></p>
                      </div>
                  </div>
                </div>
              
                <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                  <span id="cbnb" style="position:absolute; top:-150px;"></span>
                  <div class="row">
                      <div class="col-md-4">                  
                        <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_loremipsum.png') }}">
                      </div>
                      <div class="col-md-8">
                        <h3 class="partenaires-heading">Atlas territoriaux</h3>
                        <p>Des atlas territoriaux sont en cours d'élaboration par l'URCPIE et le CBN de Brest. Liens à venir prochainement !</p>
                        <p>Site web : <a href=# target="_bank">[à venir]</a></p>
                      </div>
                  </div>
                </div>

              <hr class="featurette-divider">

            </div>
          </div>
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
        var communesSearch = {{communesSearch|tojson}},
            configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>
