<div class="row rowMargin">
    <div class="col-xs-12">
        <div class="panel panel-default" id="blocInfos">

          <!-- Twpo columns of text  -->
          <div class="row faq">
            <h2 class="text-center" style="color: #667b52;"><span class="glyphicon glyphicon-hand-right" style="margin-right:0.5%;"></span> <b> Besoin d'informations complémentaires ?</b></h2>
            
                <div class="col-xs-4 text-center">
                  <h3>Informations <br/>sur les données</h3>
                  <p><a class="btn btn-default" href="{{url_for('main.get_staticpages', page='donnees') }}" role="button"><span class="glyphicon glyphicon-leaf"></span> En savoir plus ! &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                
                <div class="col-xs-4 text-center">
                  <h3>Partenaires du portail<br/> Biodiv'Pays de la Loire</h3>
                  <p><a class="btn btn-default" href="{{url_for('main.get_staticpages', page='partenaires') }}" role="button"><span class="glyphicon glyphicon-link"></span> Voir les partenaires &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                
                <div class="col-xs-4 text-center">
                  <h3>Plus d'outils<br/> autour des données ?</h3>
                  <p><a class="btn btn-default" href="{{url_for('main.get_staticpages', page='outils') }}" role="button"><span class="glyphicon glyphicon-wrench"></span> Consulter l'annuaire &raquo;</a></p>
                </div><!-- /.col-lg-4 -->

          </div><!-- /.row -->

        </div>
    </div>
</div><!-- /.row -->