			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 textIntroduction text-justify">
							<h1>
								Bienvenue sur Biodiv'Pays de la Loire
							</h1>
							<p>
								<b>Portail de visualisation des données faune et flore des {{configuration.STRUCTURE}}</b>
							</p>
							<p>
								Le Conservatoire d'espaces naturels des Pays de la Loire et ses principaux partenaires naturalistes mettent à votre disposition cet outil de visualisation des données naturalistes. 
							</p>
							<!--p>
								Véritable « atlas interactif », Biodiv’Pays de la Loire vous permet de prendre connaissance des observations d’espèces sauvages, de la faune ou de la flore, réalisées en Pays de la Loire. Ces observations ont été faites dans le cadre de la mise en œuvre de protocoles de suivis des espèces ou des milieux, ou de façon plus ponctuelle, au gré des sorties et prospections des naturalistes.
							</p-->
							<p>
								Biodiv’Pays de la Loire témoigne et reflète l'état actuel de la connaissance sur le statut et la répartition des espèces en Pays de la Loire et ne prétend pas à l'exhaustivité. Il vous permet d’appréhender l’incroyable richesse de la biodiversité de notre région.
							</p>
							<p>
								Petite précaution d’usage toutefois : l’absence d’observation d’une espèce pour un secteur géographique déterminé ne signifie pas nécessairement que l’espèce en soit absente. Il peut s’agir d’un défaut de prospection par exemple. Les conseils d'un expert vous permettront d’interpréter ces informations.
							</p>
							<!--p>
								A noter que les atlas territoriaux, produits sous l’impulsion de l’Union régionale des Centres permanents d’initiatives pour l’environnement permettent d’approfondir les informations de Biodiv’Pays de la Loire.<i>[lien a venir]</i>.
							</p-->
							<p>
							Le développement de Biodiv’Pays de la Loire a été financé par le Conseil régional et la DREAL des Pays de la Loire.
							</p>
							<p>
								<a href="{{url_for('main.get_staticpages', page='presentation') }}" class="btn btn-default">En savoir plus</a>
							</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<img src="{{url_for('static', filename='custom/images/rosalia_alpina_inpn.jpg') }}" width="100%" alt="{{configuration.NOM_APPLICATION}}">
						</div>
					</div>
				</div>
			</div>