<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
   </head>
   <body>

        <div>

            <h3 style="text-align:center;text-decoration:bold;">Liste des espèces de l'EPCI : <i>{{ referenciel.epciName}}</i></h3>
            <h4 style="text-align:center;text-decoration:none;">{{listTaxons.taxons|length}} {{ 'espèces' if listTaxons.taxons|length > 1 else 'espèce' }}</h4>  
            <h5 style="text-align:center;text-decoration:none;">Liste téléchargée le {{now}} sur<a href="http://www.biodiv-paysdelaloire.fr" target="_blank"> Biodiv'Pays de la Loire </a></h5>
            <br>
            {% for taxon in listTaxons.taxons %}
                <ul>

                    <li style="font-size:12px;margin-bottom:10px;">
                        {{taxon.nom_complet_html|safe}}
                            {% if taxon.nom_vern == None %}

                            {% else %}
                                - {{taxon.nom_vern|safe}}
                            {% endif %}
                        </p>
                        <span style="color:#635d5d;"><i>Classe : {{taxon.group2_inpn}} - Dernière observation :</i> {{taxon.last_obs | int}}</span> </p>
                    </li>

                </ul>
            {% endfor %}

        </div>

   </body> 
</html>
