<div class="col-sm-12">
	<div class="panel panel-default">
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;margin-left:5%;">
				<a href="{{url_for('main.get_staticpages', page='acteurs') }}#regionpdl" target="_self">
					<img src="{{url_for('static', filename='custom/images/logo_region_pdl.png') }}"  width="150%">
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;"> 
				<a href="{{url_for('main.get_staticpages', page='acteurs') }}#drealpdl" target="_self">
					<img src="{{url_for('static', filename='custom/images/logo_dreal_pdl.jpg') }}"  width="150%">
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;"> 
				<a href="{{url_for('main.get_staticpages', page='acteurs') }}#cbnb" target="_self">
					<img src="{{url_for('static', filename='custom/images/logo_CBN_de_Brest.jpg') }}"  width="150%">
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;margin-left:2%">
				<a href="{{url_for('main.get_staticpages', page='acteurs') }}#cenpdl" target="_self">
					<img src="{{url_for('static', filename='custom/images/logo_cen_pdl.jpg') }}"  width="150%">
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;margin-left:2%"> 
				<a href="{{url_for('main.get_staticpages', page='acteurs') }}#lpopdl" target="_self">
					<img src="{{url_for('static', filename='custom/images/logo_coordi_lpo_pdl.png') }}"  width="150%">
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;"> 
				<a href="{{url_for('main.get_staticpages', page='acteurs') }}#gretia" target="_self">
					<img src="{{url_for('static', filename='custom/images/logo_gretia.png') }}"  width="150%">
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;">
				<a href="{{url_for('main.get_staticpages', page='acteurs') }}#urcpie" target="_self">
					<img src="{{url_for('static', filename='custom/images/logo_urcpie_pdl.jpg') }}"  width="150%">
				</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin:1%;"> 
				<a href="https://inpn.mnhn.fr/accueil/index" target="_blank">
					<img src="{{url_for('static', filename='custom/images/logo_inpn.png') }}"  width="150%">
				</a>
			</div>							
		</div>
	</div>
</div>