<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Particuliers | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">
            
            
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px; margin-bottom: 0px;">
              <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url({{url_for('static', filename='custom/images/cen_pdl_o_vannucci_rainette.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Vous êtes un particulier ?</h1>
                      <p>Découvrez la faune et la flore des Pays de la Loire et découvrez comment participer à la connaissance</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.carousel -->
            


            <div class="container presentation">
              <hr class="featurette-divider">
                <!-- First Featurette -->
                  <div class="featurette" id="reseaux">
                    <img class="featurette-image img-circle img-responsive pull-right" src="{{url_for('static', filename='custom/images/reseau_naturaliste_CEN_PdL.jpeg') }}">
                    <h2 class="featurette-heading">Territoires<br/><span class="text-muted">Pression de prospection et liste d'espèces</span>
                    </h2>
                  <p class="lead">
                    Les bases de données naturalistes des différentes structures rassemblent des informations collectées dans le cadre de projets avec des financements publics, ainsi que des données issues d'observations par un ensemble de bénévoles. Ces bases de données sont moissonnées par ce portail de visualistion des données de biodiversité des Pays de la Loire.
                  </p>    
                  <p class="lead">
                    <br>Grâce aux "fiches communes", découvez toute la richesse biologique d'un territoire : zones prospectées, observations et liste d'espèces ! Découvrez également les "fiches espèces" et leurs synthèses taxon par taxon !
                  </p>

                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="thumbnail stat-thumbnail">
                      <img id="picto" src="{{url_for('static', filename='images/commune-icone.png')}}"> 
                      <h4 class="text-center"> Rechercher une commune</h4>
                      <form method="POST" onsubmit="completeAction('#searchFormCommunesStat', hiddenInputCommunesStat)" id='searchFormCommunesStat' action=""  class="navbar-form" role="search">
                              <div class="form-group has-feedback">
                                  <input id="searchCommunesStat" type="text" class="form-control" placeholder="Rechercher une commune" >
                                  <i class="glyphicon glyphicon-search form-control-feedback"></i>
                                <input id="hiddenInputCommunesStat" type="hidden" name="insee">
                              </div>          
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="thumbnail stat-thumbnail">
                    <span class="glyphicon glyphicon-leaf" style="font-size:40px"></span>
                      <h4 class="text-center"> Rechercher une espèce</h4>
                      <form method="POST" id="searchFormTaxonsStat" class="navbar-form" role="search">
                                    <div class="form-group has-feedback">
                            <input id="searchTaxonsStat" type="text" class="form-control" placeholder="Rechercher une espèce &nbsp; &nbsp; &nbsp;" loading="true" style="background-image: url('{{url_for('static', filename='images/loading3.gif') }}');" disabled>
                            <i class="glyphicon glyphicon-search form-control-feedback"></i>
                            <input id="hiddenInputTaxonStat" type="hidden" name="cd_ref">
                        </div>       
                      </form>
                    </div>
                  </div>
                  
                </div>

              <hr class="featurette-divider">


                <!-- First Featurette -->
              <div class="featurette" id="flore">
                  <img class="featurette-image img-circle img-responsive pull-left" src="{{url_for('static', filename='custom/images/Anemone_pulsatilla_CEN_PdL.jpg') }}">
                  <h2 class="featurette-heading">Données<br/><span class="text-muted">Les mobiliser</span>
                  </h2>
                  <p class="lead">
                  Si vous avez des données de biodiversité sur un territoire et que vous souhaitez les porter à connaissance, n'hésitez pas à la transmettre au SINP (Système d'Information sur la Nature et les Paysages) des Pays de la Loire : [lien SINP Pays de la Loire/import]
                  </p>
                  <p class="lead">
                  Le SINP des Pays de la Loire vous permet également de demander la transmission -gratuitement et librement- de données faune et flore. Pour faire une demande de transmission de données: [lien SINP Pays de la Loire/export]
                  </p>
              </div>
              

              <hr class="featurette-divider">
                <div class="featurette" id="faune">
                    <img class="featurette-image img-circle img-responsive pull-right" src="{{url_for('static', filename='custom/images/Lycaena_dispar_CEN_PdL.jpg') }}">
                  <h2 class="featurette-heading">Participez !<br/><span class="text-muted">Devenez acteur de la connaissance</span>
                  </h2>
                  <p class="lead">
                    Chacun peut, s'il le souhaite, devenir contributeur en transmettant ses observations de plantes, insectes, mammifères, oiseaux ou encore reptiles sur différentes plateformes naturalistes.
                  </p>
                  <ul>
                    <li>  <p class="lead">
                      Contributions à la connaissance des invertébrés sur tout le territoire du Massif armoricain et de ces marges avec le Groupe d'Etude des Invertébrés armoricains : <a href="http://gretia.org/index.php/connaissances/root/vos-donnees-naturalistes" target="_blank">données naturalistes au GRETIA</a>
                    </p></li> 
                    <li>  <p class="lead">
                      La base données des Centres Permanents d'Initiatives pour l'Environnement ligériens : <a href="http://base.urcpie-paysdelaloire.org/" target="_blank">base des CPIE</a>
                    </p></li>
                    <li><p class="lead">
                     Les sites participatifs sur les observations de la faune des Ligues pour la Protection des Oiseaux : <a href="http://www.faune-anjou.org/" target="_blank">faune anjou</a>, <a href="http://www.faune-loire-atlantique.org/" target="_blank">faune loire-atlantique</a>, <a href="http://www.faune-maine.org/" target="_blank">faune maine</a> et <a href="http://www.faune-vendee.org/" target="_blank">faune vendée</a>
                    </p></li>
                    <li>  <p class="lead">
                      La base de données du Conservatoire d'espaces naturels des Pays de la Loire : <a href="http://80.82.234.83/sicen/Sources/Vues/vAuthent.php?appli=SicenCenpdl" target="_blank">SICEN</a>
                    </p></li>
                    <li>  <p class="lead">
                      Spécifiquement pour la flore, un atlas en ligne pour le territoire d'agréement du CBN de Brest accueille également les contributions : <a href="http://www.cbnbrest.fr/ecalluna/" target="_blank">eCalluna</a>
                    </p></li>
                  </ul>
                </div>
               

              <hr class="featurette-divider">
           
              <!-- /END THE FEATURETTES -->
            
            </div>
            
            
        </div>
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
        var communesSearch = {{communesSearch|tojson}},
            configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>
