<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Partenaires | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/page.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">
            
            
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px; margin-bottom: 0px;">
              <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url({{url_for('static', filename='custom/images/cen_pdl_Zygaena_carniolica.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Partenaires de Biodiv'PDL</h1>
                      <p>Découvrez tous les partenaires de cet outil collaboratif !</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.carousel -->

            <div class="container presentation">

              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <div class="row">
                    <div class="col-md-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_region_pdl.png') }}">
                    </div>
                    <div class="col-md-8">
                      <h3 class="partenaires-heading">Région des Pays de la Loire</h3>
                      <p>Contact : </p>
                      <p>Mail : </p>
                      <p>Tél. : </p>
                      <p>Coordonnées : </p>
                      <p>Site web : <a href="http://www.paysdelaloire.fr/politiques-regionales/environnement/" target="_bank">www.paysdelaloire.fr</a></p>
                    </div>
                </div>
              </div>

              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <div class="row">
                    <div class="col-md-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_dreal_pdl.jpg') }}">
                    </div>
                    <div class="col-md-8">
                      <h3 class="partenaires-heading">DREAL des Pays de la Loire</h3>
                      <p>Contact : </p>
                      <p>Mail : </p>
                      <p>Tél. : </p>
                      <p>Coordonnées : </p>
                      <p>Site web : <a href="http://www.pays-de-la-loire.developpement-durable.gouv.fr/" target="_bank">www.pays-de-la-loire.developpement-durable.gouv.fr</a></p>
                    </div>
                </div>
              </div>
              
              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <div class="row">
                    <div class="col-md-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_CBN_de_Brest.jpg') }}">
                    </div>
                    <div class="col-md-8">
                      <h3 class="partenaires-heading">Conservatoire Botanique National de Brest</h3>
                      <p>Contact : </p>
                      <p>Mail : </p>
                      <p>Tél. : </p>
                      <p>Coordonnées : </p>
                      <p>Site web : <a href="http://www.cbnbrest.fr" target="_bank">www.cbnbrest.fr</a></p>
                    </div>
                </div>
              </div>
              
              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <div class="row">
                    <div class="col-md-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_cen_pdl.jpg') }}">
                    </div>
                    <div class="col-md-8">
                      <h3 class="partenaires-heading">Conservatoire d'espaces naturels des Pays de la Loire</h3>
                      <p>Contact : </p>
                      <p>Mail : </p>
                      <p>Tél. : </p>
                      <p>Coordonnées : </p>
                      <p>Site web : <a href="http://cenpaysdelaloire.fr/" target="_bank">cenpaysdelaloire.fr</a></p>
                    </div>
                </div>
              </div>

              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <div class="row">
                    <div class="col-md-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_coordi_lpo_pdl.jpg') }}">
                    </div>
                    <div class="col-md-8">
                      <h3 class="partenaires-heading">Coordination régionale LPO Pays de la Loire</h3>
                      <p>Contact : </p>
                      <p>Mail : </p>
                      <p>Tél. : </p>
                      <p>Coordonnées : </p>
                      <p>Site web : <a href="http://paysdelaloire.lpo.fr/" target="_bank">paysdelaloire.lpo.fr</a></p>
                    </div>
                </div>
              </div>

              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <div class="row">
                    <div class="col-md-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_gretia.png') }}">
                    </div>
                    <div class="col-md-8">
                      <h3 class="partenaires-heading">Groupe d'étude des invertébrés armoricains</h3>
                      <p>Contact : </p>
                      <p>Mail : </p>
                      <p>Tél. : </p>
                      <p>Coordonnées : </p>
                      <p>Site web : <a href="http://www.gretia.org/" target="_bank">www.gretia.org</a></p>
                    </div>
                </div>
              </div>

              <div class="col-lg-12" style="background:#fff; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <div class="row">
                    <div class="col-md-4">                  
                      <img class="img-responsive pull-left" style="margin:auto;" src="{{url_for('static', filename='custom/images/logo_urcpie_pdl.jpg') }}">
                    </div>
                    <div class="col-md-8">
                      <h3 class="partenaires-heading">Union régionale des CPIE des Pays de la Loire</h3>
                      <p>Contact : </p>
                      <p>Mail : </p>
                      <p>Tél. : </p>
                      <p>Coordonnées : </p>
                      <p>Site web : <a href="http://urcpie-paysdelaloire.org/" target="_bank">urcpie-paysdelaloire.org</a></p>
                    </div>
                </div>
              </div>

              <hr class="featurette-divider">

            </div>
          </div>
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
        var communesSearch = {{communesSearch|tojson}},
            configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>
