<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Présentation de l'atlas | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">


            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px; margin-bottom: 0px;">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url({{url_for('static', filename='custom/images/Anax_sp_CEN_PdL.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Atlas de la faune vertébrée et invertébrée</h1>
                      <p>Parcourez les fiches espèces et découvrez la faune des Pays de la Loire</p>
					  <p><a class="btn btn-lg btn-default" href="#faune" role="button">En savoir plus</a></p>
                    </div>
                  </div>
                </div>
                <div class="item" style="background-image: url({{url_for('static', filename='custom/images/Gentiana_pneumonanthe_CEN_PdL.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Atlas de la flore</h1>
                      <p>Parcourez les fiches espèces et découvrez la flore des Pays de la Loire</p>
                      <p><a class="btn btn-lg btn-default" href="#flore" role="button">En savoir plus</a></p>
                    </div>
                  </div>
                </div>
                <div class="item" style="background-image: url({{url_for('static', filename='custom/images/observation_stage_malaco_CENPdL_GRETIA_MNHN.jpg') }}) ; background-size: cover; background-position: top center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Des dizaines d'années d'observations scientifiques</h1>
                      <p>Connaissance, suivi, gestion et protection de la biodiversité</p>
                      <p><a class="btn btn-lg btn-default" href="#scientifique" role="button">En savoir plus</a></p>
                    </div>
                  </div>
                </div>
                 <div class="item" style="background-image: url({{url_for('static', filename='custom/images/Lacerta_bilineata_CEN_PdL.jpg') }}) ; background-size: cover; background-position: bottom center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Des centaines de photographies</h1>
                      <p>Prises par les naturalistes des Pays de la Loire au quotidien</p>
                      <p><a class="btn btn-lg btn-default" href="{{url_for('main.photos')}}" role="button">Visitez la galerie</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
              </a>
            </div><!-- /.carousel -->
            
            
            <nav class="navbar navbar-inverse" data-spy="affix"  data-offset-top="520" id="sommaire">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#general">Général</a></li>
                <li><a href="#fonctionnalites">Fonctionnalités</a></li>
                <li><a href="#reseaux">Réseaux</a></li>
                <li><a href="#faune">Faune</a></li>
                <li><a href="#flore">Flore</a></li>
                <li><a href="#scientifique">Scientifique</a></li>
                <li><a href="#opensource">Open source</a></li>
              </ul>
            </nav>

            <div class="container presentation">
              <div class="col-lg-8">
                  <!-- Texte de présentation général -->
                  <span id="general" style="position:absolute; top:-125px;"></span>
                  <h2>Biodiv'Pays de la Loire, l'atlas numérique de la flore et de la faune des Pays de la Loire</h2>
                  <p class="lead">
                    Biodiv'Pays de la Loire met à votre disposition les données rassemblées et validées par la Ligue pour la protection des oiseaux (LPO), le Conservatoire d'espaces naturels des Pays de la Loire (CEN), le Conservatoire botanique national de Brest (CBNB), le Groupe d'étude des invertébrés armoricain (GRETIA), les Centres permanents d'initiatives pour l'environnement (CPIE)...
                  </p>
                  <p class="lead">
                    Les naturalistes des Pays de la Loire recueillent des données sur la faune et la flore depuis des dizaines d'années, au gré de leurs observations de terrain. Celles-ci sont utilisées pour mieux connaître le statut de conservation des espèces, étudier  l'évolution des populations, appréhender les changements globaux, caractériser la biodiversité d'un territoire, etc... Cette connaissance est aussi indispensable pour engager des actions de conservation des espèces et de gestion des milieux et sites naturels.
                  </p>
                  <p class="lead">
                    Chaque jour, les naturalistes font de nouvelles observations d’espèces sur le terrain qu’ils saisissent dans les bases de données des différents organismes partenaures. Les données issues de ces observations sont affichées en temps réel sur Biodiv’Pays de la Loire. Vous pouvez ainsi suivre l'état des connaissances naturalistes en  Pays de la Loire.
                  </p>
                  <p class="lead">
                    Cet atlas vous est proposé dans le cadre de la mise en oeuvre du <a href="http://www.naturefrance.fr/" target="_bank">Système d'Infomation sur la Nature et les Paysages (SINP)</a> en lien avec l'<a href="https://inpn.mnhn.fr/accueil/index" target="_bank">Inventaire National du Patrimoine Naturel (INPN)</a>.
                  </p>

              </div>
              <div class="col-lg-4" style="background:#f4f4f4; border-radius: 15px; margin-top:20px; padding: 20px; text-align:left;">
                <p>
                    <img src="{{url_for('static', filename='custom/images/stage_malaco_CEN_PdL_GRETIA_MNHN.jpg') }}"  width="100%">
                </p>
                <p>
                  Atelier « Malacologie continentale » les 14 et 15 septembre 2017 à La Flèche (72). Cet atelier a été organisé par le CEN Pays de la Loire, le GRETIA, et le Museum national d’histoire naturelle avec le soutien de la Région des Pays de la Loire et de la DREAL.
                </p>
                <p>
                   Ce stage s'inscrit dans un programme d'action visant à développer les connaissances sur la répartition des espèces de ce groupe à l’échelle régionale. Ces actions sont notamment conduites en lien avec la dynamique d’un inventaire national « mollusques continentaux » coordonné nationalement par le Muséum national d'histoire naturelle (MNHN).
                </p>
                <p>
                 <a href="http://www.cenpaysdelaloire.fr/actualites-agenda/actualite-de-la-malacologie-en-pays-de-la-loire"  target="_bank"><span class="glyphicon glyphicon-eye-open"></span> Voir l'article sur le site du CEN Pays de la Loire</a><br/>
                 <a href="https://inpn.mnhn.fr/espece/jeudonnees/50" target="_bank"><span class="glyphicon glyphicon-eye-open"></span> Voir l'inventaire national sur le site de l'INPN</a><br/>
                   <!-- <a href="{{url_for('static', filename='custom/images/2016-11-CP-biodiv-ecrins-images.zip') }}" target="_bank"><span class="glyphicon glyphicon-camera"></span> Télécharger les photos</a>-->
				        </p>  

              </div>

              <div style="clear: both;"></div>
                          

              <hr class="featurette-divider">
              
              <!-- Three columns of text below the carousel -->
              <div class="row">
                <div class="col-lg-4">
                  <span id="fonctionnalites" style="position:absolute; top:-200px;"></span>
                  <img class="img-circle" src="{{url_for('static', filename='custom/images/ile_neuve_macriere_2015_CEN_PdL.jpg') }}" alt="Generic placeholder image" width="140" height="140">
                  <h2>Fiches "espèces"</h2>
                  <p>Retrouvez la fiche descriptive de chaque espèce avec carte des observations, phénologie, ainsi que des descriptions, photos, vidéos, enregistrements audios et liens complémentaires.</p>
                  <p><a class="btn btn-default" href="./espece/65740" role="button">Exemple &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <img class="img-circle" src="{{url_for('static', filename='custom/images/commune_Fresnay_CEN_PdL.jpg') }}" alt="Generic placeholder image" width="140" height="140">
                  <h2>Fiches "Communes"</h2>
                  <p>Découvrez les espèces observées sur chaque Commune des Pays de la Loire et affichez les observations sur la carte de la Commune.</p>
                  <p><a class="btn btn-default" href="./commune/44109" role="button">Exemple &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <img class="img-circle" src="{{url_for('static', filename='custom/images/Fritillaria_meleagris_CEN_PdL.jpg') }}" alt="Generic placeholder image" width="140" height="140">
                  <h2>Galerie "photos"</h2>
                  <p>Découvrez des photographies des différentes espèces, réalisées principalement par les naturalistes des Pays de la Loire lors de leurs excursions sur le terrain.</p>
                  <p><a class="btn btn-default" href="{{url_for('main.photos')}}" role="button">Parcourir &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->


              <hr class="featurette-divider">
                  
                      <!-- Twpo columns of text  -->
                      <h2 class="text-center">Besoin d'informations complémentaires ?<br/>Rendez-vous sur les pages dédiées :</h2>
                      <div class="row faq">
                        <div class="col-lg-4">
                          <h3>Informations sur les données</h3>
                          <p><a class="btn btn-default" href="{{url_for('main.get_staticpages', page='infodatabiodiv') }}" role="button">En savoir plus ! &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                          <h3>Partenaires du portail et du SINP</h3>
                          <p><a class="btn btn-default" href="{{url_for('main.get_staticpages', page='partenaires') }}" role="button">Voir les partenaires &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                          <h3>Plus d'outils autour du SINP ?</h3>
                          <p><a class="btn btn-default" href="{{url_for('main.get_staticpages', page='annuaireoutils') }}" role="button">Consulter l'annuaire &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                      </div><!-- /.row -->
              
              <hr class="featurette-divider">


                <!-- First Featurette -->

              <div class=" row featurette">
                <div class="col-md-12">
                  <span id="reseaux" style="position:absolute; top:-200px;"></span>
                    <img class="featurette-image img-circle img-responsive pull-left" src="{{url_for('static', filename='custom/images/reseau_naturaliste_CEN_PdL.jpeg') }}">
                    <h2 class="featurette-heading">Le réseau des naturalistes<br/><span class="text-muted">Les organismes de suivi, d'étude et de conservation de la biodiversité... et vous !</span>
                    </h2>
                  <p class="lead">
                    Les bases de données naturalistes des différents organismes partenaires (LPO, GRETIA, CPIE, URCPIE, CEN…) rassemblent des informations collectées dans le cadre de projets avec des financements publics ou privés, ainsi que des données issues d'observations par un ensemble de bénévoles.
                  </p>
                  <p class="lead">
                    Les naturalistes de terrain s'investissent pour améliorer la connaissance de la faune et de la flore. Cependant, les données visualisables sur cette plateforme reflètent l'état d'avancement des connaissances et/ou la disponibilité des données existantes : elles ne peuvent en aucun cas être considérées comme exhaustives. Certaines données sont collectées dans le cadre de protocoles scientifiques et d'autres au fil de l'eau !
                    <br>
                  </p>
                  <p class="lead">
                  <i>
                    « L'absence de données ne veut pas forcément dire que les espèces ne sont pas présentes, il peut également s'agir d'un défaut de prospection dans une zone géographique. Inversement, un grand nombre de données sur une espèce ne veut pas dire qu'il s'agit de l'espèce la plus présente, elle a peut-être fait l'objet d'un suivi particulier, augmentant de fait le nombre d'observations. Seuls les experts naturalistes seront à même de répondre à ce genre de questions et à faire une analyse écologique fine. »
                    </i>
                  </p>
                  <p class="lead">
                    - xxxx xxxxx, chargé de mission - écologue au xxxxxxxxx
                  </p>
                </div>
              </div>

              <hr class="featurette-divider">
              
              <div class="row featurette">
                <div class="col-md-12">
                  <h2 class="featurette-heading">Réseaux d'observateurs<br/><span class="text-muted">Faisceaux de connaissances</span></h2>
                  <p class="lead">
                    Les Pays de la Loire ont la chance de compter sur un vaste réseau de collecte de données naturalistes. Cela contribue ainsi à enrichir des bases de données thématiques mises à disposition tant des spécialistes que du public.
                  </p>
                  <p class="lead">
                    Selon les sites internet, il est possible de CONSULTER les informations, de TÉLÉCHARGER des synthèses voire de PARTICIPER aux observations.
                  </p>
                  <p class="lead">
                    <img src="{{url_for('static', filename='custom/images/schema_biodiv_pdl.png') }}">
                    <!--img src="http://geonature.fr/img/schema-chaine-travail.png" width="100%"-->
                  </p>
                  <p class="lead">
                    <a href="https://inpn.mnhn.fr" target="_blank">Inventaire National du Patrimoine Naturel (INPN)</a>
                  </p>
                  <p class="lead">
                    Sur le site consacré à l'INPN (Muséum national d'histoire naturelle), on retrouve plus de XXXXXXX données sur la faune et la flore des Pays de la Loire parmi les 30 millions collectées sur l'ensemble du territoire national et agglomérées dans cet inventaire national.
                    <br/>
                    Le Muséum national utilise ces informations pour réaliser des synthèses aux échelles nationales et internationales. 
                    <br/>
                    Cette démarche permet d'inscrire les enjeux environnementaux dans les politiques nationales et européennes.
                  </p>
                  <br/>
                  <br/>
                  <p class="lead">
                    <b>Des données et synthèses à consulter ou à télécharger !</b>
                  </p>
                  <p class="lead">
                    <a href="http://www.geopal.org/accueil" target="_blank">GEOPAL</a>
                  </p>
                  <p class="lead">
                    GEOPAL, le portail géographique des Pays de la Loire, est la plate-forme régionale de données de la région des Pays de la Loire. Des synthèses sur la  flore et la faune de la région par commune et par maille sont disponibles sur ce site.
                  <p class="lead">
                    <a href="https://catalogue.sigloire.fr/geonetwork/srv/fre/catalog.search#/home" target="_blank">SIGLOIRE</a>
                  </p>
                  <p class="lead">
                    De nombreux lots de données et de synthèses sont disponibles sur ce portail de données géré par la DREAL des Pays de la Loire.
                  </p>
                  <p class="lead">
                    <a href=# target="_blank">ATLAS TERRITORIAUX</a>
                  </p>
                  <p class="lead">
                    Des atlas territoriaux sont en cours d'élaboration par l'URCPIE et le CBN de Brest. Liens à venir prochainement !
                  </p>
                  <br/>
                  <p class="lead">
                    <b> Des outils pour participer ! </b>
                  </p>
                  <p class="lead">
                    Chacun peut, s'il le souhaite, devenir contributeur en transmettant ses observations de plantes, insectes, mammifères, oiseaux ou encore reptiles sur différentes plateformes naturalistes.
                  </p>
                  <ul>
                    <li>  <p class="lead">
                      Contributions à la connaissance des invertébrés sur tout le territoire du Massif armoricain et de ces marges avec le Groupe d'étude des invertébrés armoricains : <a href="http://gretia.org/index.php/connaissances/root/vos-donnees-naturalistes" target="_blank">données naturalistes au GRETIA</a>
                    </p></li> 
                    <li>  <p class="lead">
                      La base données des Centres permanents d'initiatives pour l'environnement des Pays de la Loire : <a href="http://base.urcpie-paysdelaloire.org/" target="_blank">base des CPIE</a>
                    </p></li>
                    <li><p class="lead">
                     Les sites participatifs sur les observations de la faune des Ligues pour la protection des oiseaux : <a href="http://www.faune-anjou.org/" target="_blank">faune anjou</a>, <a href="http://www.faune-loire-atlantique.org/" target="_blank">faune loire-atlantique</a>, <a href="http://www.faune-maine.org/" target="_blank">faune maine</a> et <a href="http://www.faune-vendee.org/" target="_blank">faune vendée</a>
                    </p></li>
                    <li>  <p class="lead">
                      La base de données du Conservatoire d'espaces naturels des Pays de la Loire : <a href="http://80.82.234.83/sicen/Sources/Vues/vAuthent.php?appli=SicenCenpdl" target="_blank">SICEN</a>
                    </p></li>
                    <li>  <p class="lead">
                      Spécialement dédié à la flore, un atlas en ligne pour le territoire d'agrément du CBN de Brest accueille également les contributions : <a href="http://www.cbnbrest.fr/ecalluna/" target="_blank">eCalluna</a>
                    </p></li>
                  </ul>

                </div>
              </div>


              <!-- START THE FEATURETTES -->

              <hr class="featurette-divider">

                <!-- First Featurette -->
                <div class=" row featurette">
                <div class="col-md-12">
                  <span id="faune" style="position:absolute; top:-200px;"></span>
                    <img class="featurette-image img-circle img-responsive pull-right" src="{{url_for('static', filename='custom/images/Lycaena_dispar_CEN_PdL.jpg') }}">
                    <h2 class="featurette-heading">Faune sauvage<br/><span class="text-muted">Grandes et petites bêtes</span>
                    </h2>
                  <p class="lead">
                    Mises à part quelques apparitions d'espèces nouvelles toujours possibles, la faune vertébrée (Mammifères, Oiseaux, Reptiles, Amphibiens, Poissons) des Pays de la Loire est aujourd'hui assez bien connue : espèces présentes, distribution régionale, statut de conservation etc…
                  </p>
                  <p class="lead">
                   Il n'en va pas de même pour les invertébrés. Il s'agit de ces étranges petites bêtes que sont les insectes, les escargots, les millepattes ou encore les araignées et écrevisses... Une quantité d'espèces aussi impressionnante que pleine de promesses scientifiques ! Le niveau de connaissance sur les invertébrés en Pays de la Loire est variable selon les groupes taxonomiques : si les Odonates (Libellules et Demoiselles), les Rhopalocères (Papillons de jour) ou Orthoptères (Criquets, Grillons, Sauterelles) commencent à être bien connus en Pays de la Loire, ce n’est pas le cas de très nombreux autres groupes pour lesquels la détermination des espèces est souvent affaire de spécialiste. 
                  </p>
                  <p class="lead">
                  <i>
                   « La plateforme de visualisation est un porté à connaissance des observations naturalistes sur tout le territoire des Pays de la Loire. C'est une première ! Ceci est un premier pas vers le partage des données et une vraie prise en compte de la biodiversité dans les différents projets d'aménagement ainsi que la reconnaissance de l'expertise du réseau. »
                    </i>
                  </p>
                  <p class="lead">
                    - xxx xxxx chargé de missions - entomologiste au GRETIA
                  </p>
                 <!-- <p class="lead">
                    Pour en savoir plus : <a href="http://www.ecrins-parcnational.fr/thematique/faune-sauvage" target="_blank">http://www.ecrins-parcnational.fr/thematique/faune-sauvage</a>.
                  </p> -->
                </div>
              </div>
              

              <hr class="featurette-divider">

              <div class=" row featurette">
                <div class="col-md-12">
                  <span id="flore" style="position:absolute; top:-200px;"></span>
                  <img class="featurette-image img-circle img-responsive pull-left" src="{{url_for('static', filename='custom/images/Anemone_pulsatilla_CEN_PdL.jpg') }}">
                  <h2 class="featurette-heading">Flore sauvage<br/><span class="text-muted">Richesse foisonnante</span>
                  </h2>
                  <p class="lead">

                  <p class="lead">
                    Si l'inventaire du monde végétal se poursuit dans la région, le réseau naturaliste assure également le suivi d'espèces emblématiques comme la Fritillaire pintade et la Tulipe sauvage. 
                  </p>
                  <p class="lead">
                    Certaines plantes sont des héritières de pratiques agricoles anciennes, alors que d'autres sont des rudérales pleinement intégrées dans nos environnements urbains !
                  </p>
                  <p class="lead">
                    <i>
                    « XXXXX <br/> XXXXX <br/> Une superbe citation sur les suivis flore <br/> XXXXX <br/> XXXXXXX »
                    </i>
                  </p>
                  <p class="lead">
                    - xxx xxxxxx, botaniste au CBN de Brest
                  </p>
                 <!-- <p class="lead">
                    Pour en savoir plus : <a href="" target="_blank">http://www.ecrins-parcnational.fr/thematique/flore</a>.
                  </p> -->
                </div>
              </div>

              <hr class="featurette-divider">

              <div class=" row featurette">
                <div class="col-md-12">
                  <span id="scientifique" style="position:absolute; top:-200px;"></span>
                  <img class="featurette-image img-circle img-responsive pull-right" src="{{url_for('static', filename='custom/images/obs_malaco_CEN_PdL_GRETIA_MNHN.jpg') }}">
                  <h2 class="featurette-heading">Une perspective scientifique<br/><span class="text-muted">Pour la connaissance et la protection</span>
                  </h2>
                  <p class="lead">
                    La préservation des espèces, des habitats et des ressources naturelles s'appuie sur le recueil d'observations, l'acquisition de connaissances et la recherche scientifique.
                  </p>
                  <p class="lead">
                    <i>
                    Quelles espèces fréquentent les Pays de la Loire, comment interagissent-elles ? Comment évoluent leurs populations ? Ou encore quelles sont les conséquences des activités humaines du territoire sur ces espèces ? C'est pour répondre à ce type de questions que différents protocoles d'acquisition de connaissances ou de suivi sont mis en œuvre. Un grand nombre des observations brutes liées à ces protocoles sont synthétisées dans cet atlas.
                    </i>
                  </p>
                  <p class="lead">
                    La richesse de la faune et de la flore des Pays de la Loire tient à la diversité des influences climatiques et microclimatiques, géologiques, biogéographiques et aux différents modelés liés aux pratiques humaines.
                  </p>
                  <p class="lead">
                    Pour conserver ce patrimoine naturel d'exception, il convient de bien le connaître. Les différents programmes d'inventaire, de suivis ou d'études engagés sur le territoire poursuivent tous cet objectif. 
                  </p>
                  <p class="lead">
                    Pour en savoir plus, voir les actions du réseau naturaliste en termes de faune et de flore présentées sur les sites des différentes structures : <br/>
                    <ul>
                      <li class="lead"><a href="http://www.cbnbrest.fr" target="_blank">Conservatoire botanique national de Brest</a><br/></li>
                      <li class="lead"><a href="http://cenpaysdelaloire.fr/" target="_blank">Conservatoire d'espaces naturels des Pays de la Loire</a><br/></li>
                      <li class="lead"><a href="http://www.gretia.org/" target="_blank">Groupe d'étude des invertébrés du Massif armoricain</a><br/></li>
                      <li class="lead"><a href="http://paysdelaloire.lpo.fr/" target="_blank">Coordination LPO des Pays de la Loire</a><br/></li>
                      <li class="lead"><a href="http://urcpie-paysdelaloire.org/" target="_blank">Union Régionale des CPIE des Pays de la Loire</a><br/></li>
                    </ul>
                  </p>
                </div>
              </div>
               

              <hr class="featurette-divider">
              
              <div class="row featurette">
                <div class="col-md-12">
                  <span id="opensource" style="position:absolute; top:-180px;"></span>
                  <h2 class="featurette-heading">GeoNature-atlas<br/><span class="text-muted">Dans la constellation de l'opensource</span></h2>
                  <p class="lead">
                    Biodiv'Pays de la Loire utilise l'outil <a href="https://github.com/PnEcrins/GeoNature-atlas" target="_blank">GeoNature-atlas</a> développé par le Parc national des Écrins et publié sous licence libre. Il est ainsi transférable librement à d'autres structures qui souhaitent partager leurs observations naturalistes en se basant sur les référentiels nationaux de l'INPN.
                  </p>
        				  <p class="lead">
        					<span class="glyphicon glyphicon-download"></span> <i>Téléchargez la <a href="https://github.com/PnEcrins/GeoNature-atlas/raw/master/docs/2016-09-GeoNature-atlas-PRESENTATION.pdf">fiche de présentation de GeoNature-atlas</a> pour en savoir plus.</a></i>
        				  </p>
                  <p class="lead">
                    Il fait partie d'un ensemble d'outils développé par le Parc national et ses partenaires, pour pouvoir saisir, gérer et traiter les données des différents protocoles (<a href="http://geonature.fr" target="_blank">http://geonature.fr</a>).
                  </p>
                  <!--p class="lead">
                    <img src="http://geonature.fr/img/schema-geonature-01.png" width="80%">
                  </p-->
                  <p class="lead">
                    <i>
                    « Nos outils sont pensés, dès le départ, pour pouvoir être déployés par d’autres structures dans des contextes différents. 
                    Pour cela, l’accent est mis sur des développements génériques et sur la publication de l’outil sous licence libre pour en faciliter l’utilisation par d’autres ».
                    </i>
                  </p>
                  <p class="lead">
                    - Camille Monchicourt, responsable du système d’informations au Parc national des Ecrins
                  </p>
                  <p class="lead">
                    En effet le Parc national des Ecrins a entrepris depuis une dizaine d'années, de migrer son système d'informations vers des outils open source. <br/>
                    Les logiciels libres (dont le code source est ouvert, accessible et modifiable par qui le souhaite) permettent une plus grande modularité et interopérabilité des outils et des données, en plus de faciliter la mutualisation et de réduire les coûts liés aux licences. 
                  </p>
                  <p class="lead">
                    <i>* Un logiciel Opensource est un programme informatique dont le code source est distribué sous une licence dite « libre », permettant à quiconque de lire, modifier ou redistribuer ce logiciel.</i>
                  </p>
                </div>
              </div>

              <hr class="featurette-divider">
              

              <!-- /END THE FEATURETTES -->
            
            </div>
            
            
        </div>
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
        var communesSearch = {{communesSearch|tojson}},
            configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>
