<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Synthèses | {{configuration.NOM_APPLICATION}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Leaflet -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css') }}" />
        <script src="{{url_for('static', filename='lib/leaflet/leaflet.js') }}"></script>
        <script src="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.css') }}" />

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">        

<!-- Dernières espèces observées (Carte et liste) -->
      <div class="col-sm-12" id="DernieresObservations"> 
          <div class="panel panel-default" >
              <div class="panel-heading"><h3> Découvrez les {{ stat.nbTotalObs }} {{ 'observations' if stat.nbTotalObs > 1 else 'observation' }} de la faune et de la flore</h3></div>
              <div class="row" id="mapRow">
              <!-- CARTE des dernières observations -->
              <div id="blocMap" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div id="map"></div>
              </div>
              <!-- LISTE des dernières observations -->
              <div id="listMap" class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                <table id='tableEspece' class="table">
                  
                  <tbody>
                    {% for obs in observations %}
                    <tr class='tabEspece' idSynthese = "{{obs.id_observation}}">
                      {% if obs.pathImg == None %}
                      <td class="singleTaxon img">
                        <img class="singleTaxon" width="80%" src="{{url_for('static', filename='images/picto_' + obs.group2_inpn +'.png')}}" data-toggle="tooltip" data-original-title="{{obs.group2_inpn}}" data-placement="left">
                      </td>
                      {% else %}
                      <td class="singleTaxon img">
                        <div class ="pictoImg" style="background-image:url({{obs.pathImg}});" data-toggle="tooltip" data-original-title="{{obs.group2_inpn}}" data-placement="left"></div>
                      </td>
                      {% endif %}
                      <td class="singleTaxon name" cdref="{{obs.cd_ref}}" > {{obs.taxon}}</td>
                      <td class="singleTaxon date"> {{obs.dateobs}} </td>
                      <td class="singleTaxon detail">
                          <a href = "{{url_for('main.ficheEspece',cd_ref=obs.cd_ref)}}">
                              <span class="glyphicon glyphicon-list" data-toggle="tooltip" data-original-title="Consulter la fiche espèce" data-placement="left"> </span> 
                          </a>
                      </td> 
                      <td class="hiddenTd" hidden="true">{{obs.cd_ref}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>  
               </div>
            </div>
          </div>
      </div>            
            
    </div>
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
        var observations = {{observations|tojson}}
        ,communesSearch = {{communesSearch|tojson}}
        , configuration = {{configuration|tojson}},
        url_limit_dpt_territory = "{{url_for('static', filename='custom/dpt_pdl_simpli.json') }}",
        url_limit_territory = "{{url_for('static', filename='custom/territoire.json') }}";
          </script>
        <script src="{{url_for('static', filename='mapGenerator.js') }}"></script>
        <script src="{{url_for('static', filename='mapHome.js') }}"></script> 
        <script src="{{url_for('static', filename='main.js') }}"></script>
   </body> 
</html>
