/* Insert your custom override CSS in this file */
 
.affix {
  position: fixed;
  top:60px;
}

/* Taille des popup */


.leaflet-popup-content {
  max-height:300px;
  overflow-y:scroll;
}
