/* Insert your custom override CSS in this file */
 
.affix {
  position: fixed;
  top:60px;
  height: 55px;
}

/* Taille des popup */

.leaflet-popup-content {
  max-height:300px;
  overflow-y:scroll;
}


/* Stats territoire*/

#group2inpnGraph {
  max-width: 650px;
  margin: 1% auto;
  height: 500px;
}

#taxongroup2inpnGraph {
  max-width: 650px;
  margin: 1% auto;
  height: 500px;
}

#statsorgacommGraph {
  max-width: 650px;
  margin: 1% auto;
  height: 500px;
}


/* Stats fiche espece */

#monthsGraph  {
  margin: auto;
  height: 400px;
  margin: 0 auto;
}

#statsorgataxonChart {
  margin: auto;
  height: 350px;
  margin: 0 auto;
}

rect {
    fill: #fff0;
}


/* légende maille carto */

.legend {
  margin-bottom: 50% !important;
}



/* taille du tabTaxons */

table.dataTable {
  width: 100% !important;
}
@media (min-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate {
      width: 200%;
      margin-top: 5%;
      margin-left: -100%;
  }
}


/* navbar de recherche */

@media (max-width: 1150px) {
#bs-example-navbar-collapse-1 {
    display: none!important;
  }  
}

/* fiches EPCI */

#btn-comm-childs,
#btn-epci-childs {
  margin-top: 20px;
  cursor: pointer;
}


/*************************************************/
/*Bandeau de coin Démonstrateur*/
/* Corner-Ribbon (bandeaux de coin)
  https://codepen.io/eode9/pen/twkKm 
   */
          
          
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 9999;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}



/*** slider slick page acceuil****/
.slidepartenaireindex{
  width: 280px;
}

.slick-prev::before, 
.slick-next::before {
    color: #1e1b0c;
  }