.panel {
	margin-top: 10px;
	padding: 5px;
}

#mapWrapper {
	position: fixed !important;
	left: 58% !important; 
}

#mapContainer {
	margin-top: 10px;
}

#map {
    height: 750px;
    margin: 1%;
}

#clear {
	clear:both;
}

#parent{
	text-align: center;
	margin-top: 10px;
}



table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	padding: 0px;
	border: none;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	cursor: default;
}

#stat li {
	/*float: left;*/
	display: inline-block;
    width: 100px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    list-style-type: none; 
}

#stat li:last-child {
    border-right: none;
}

ul#stat {
	/*float: left;*/
	padding: 5px;
	/*margin-left: 32%;
	width: 100%;
    margin: 0 auto;*/
}

#statHierarchy li {
	/*float: left;*/
	display: inline-block;
    width: 100px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    list-style-type: none;
}

#statHierarchy li:last-child {
    border-right: none;
}

ul#statHierarchy {
    /*float: left;*/
    padding: 5px;
    /*margin-left: 38%;
    margin-top: 10px;*/
}

.leaflet-bar.leaflet-control.leaflet-control-custom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;

}

#myTable .glyphicon {
	color: #333333;
	font-size: 2em;
}

/* 
.eye {
	padding-left: 20%
}

.displayObs {
	cursor: pointer;
}
*/

#loadingGif {
	z-index: 1000000;
	position:absolute;
	left: 40%;
	top: 40%;
}

.hiddenSpan{
	visibility: hidden;
}


tbody tr:hover{
	/*background-color: #cccccc !important;*/
	cursor: pointer;
} 

tbody tr.current{
	background-color: #e6e6e6 !important;
	font-weight: bold;
}

.pictoImgList {
	width: 80px;
    background-position: center center;
    background-size: cover;
	height: 80px;
	border-radius: 6px;

}

#listTaxonsCommune #myTable_wrapper div.row:nth-of-type(2) {
	margin-right: 0.1%;
	max-height: 565px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#statCom {
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

#exportlist {
	color: #3c763d !important;
	background-color: #dff0d8 !important; 
	border-color: #d6e9c6 !important;
}

