<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>EPCI - {{referenciel.epciName}} | {{configuration.NOM_APPLICATION}}</title>

        <!-- Jquery -->
        <script type="text/javascript" src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Leaflet -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css') }}" />
        <script src="{{url_for('static', filename='lib/leaflet/leaflet.js') }}"></script>
        <script src="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.css') }}" />
        <script src="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.Default.css') }}" />

        <!--Generation de PDF-->
        <script src="{{url_for('static', filename='lib/jspdf/jspdf.min.js') }}"></script>
        <script src="{{url_for('static', filename='lib/jspdf/jspdf-AutoTable.min.js') }}"></script>
        <script src="{{url_for('static', filename='exportpdf.js') }}"></script>

        <!-- Highcharts -->
        <script src="{{url_for('static', filename='lib/highcharts6/code/highcharts.js') }}"></script>
        <script src="{{url_for('static', filename='lib/highcharts6/code/modules/exporting.js') }}"></script>

        <!-- D3 -->
        <!--script src="{{url_for('static', filename='lib/d3/d3.min.js') }}"></script-->
        <!-- MorrisJs -->
        <!--script src="{{url_for('static', filename='lib/morrisJs/morris.min.js') }}"></script-->
        <!--link rel="stylesheet" href="{{url_for('static', filename='lib/morrisJs/morris.css') }}" /-->
        <!-- RaphaelJs -->
        <!--script src="{{url_for('static', filename='lib/raphaelJs/raphael.min.js') }}"></script-->

        <!-- DataTable -->
        <!--<script type="text/javascript" src="{{url_for('static', filename='lib/dataTable/datatables.min.js') }}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
          <link rel="stylesheet" href="{{url_for('static', filename='lib/dataTable/jquery.dataTables.min.css') }}" />  -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/datatables/datatables.min.css') }}"/>
        <script type="text/javascript" src="{{url_for('static', filename='lib/datatables/datatables.min.js') }}"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- Bootstrap slider -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" />
        <script src="{{url_for('static', filename='lib/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}"/>       
        <link rel="stylesheet" href="{{url_for('static', filename='css/ficheEspece.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/listEspeces.css') }}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='css/icones.css') }}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}"/>


   </head>
   <body>
    {% include 'templates/navbar.html' %}

        <div id="sideBar">
            {% include 'templates/sideBar.html' %}
        </div>
        <div class="container-fluid" id="page">
            
            <div class="row rowMargin">
                <div class="col-xs-12">
                    <div class="panel panel-default" id="parent">
                        <h2><b>Intercommunalité : {{referenciel.epciName}}</b></h2>
                        <ul id="stat">
                            <li>
                                <span data-icon="&#xe037;" style="font-size: 30px;"></span><br/>
                                <b>{{listTaxons.nbObsTotal | pretty}}</b><br/>{{ 'Observations' if listTaxons.nbObsTotal > 1 else 'Observation' }}
                            </li>
                            <li>
                                <span data-icon="&#xe03b;" style="font-size: 30px;"></span></br>
                                <b>{{listTaxons.taxons|length | pretty}}</b><br/>{{ 'Espèces' if listTaxons.taxons|length > 1 else 'Espèce' }}
                            </li>
                            <li>
                                <span data-icon="&#xe037;" style="font-size: 25px; color: brown"></span>
                                <br/><b>Première observation</b><br/>{{infosEpci.epciYearSearch.yearmin|int}}
                            </li>
                            <li>
                                <span data-icon="&#xe037;" style="font-size: 25px; color: blue"></span>
                                <br/><b>Dernière observation</b><br/>{{infosEpci.epciYearSearch.yearmax|int}}
                            </li>
                            <li>
                                <img id="picto" src="{{url_for('static', filename='images/network.png')}}" style="font-size:30px;margin:5%;"></br>
                                <b>{{orgas|length | pretty}}</b><br/>{{ 'Sources' if orgas|length > 1 else 'Source' }}
                            </li>
                            <li>
                                <span data-icon="&#xe040;" style="font-size: 30px;"></span></br>
                                <b>{{observers|length | pretty}}</b><br/>{{ 'Observateurs' if observers|length > 1 else 'Observateur' }}
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-home" style="font-size: 25px;"></span>
                                <br/>
                                <span data-toggle="tooltip" data-original-title="Voir la liste des communes" data-placement="bottom">
                                    <a id="btn-comm-childs" data-toggle="modal" data-target="#myModal"><b>{{communesEpci.communesEpciChilds|length | pretty}}</b><br/>{{ 'Communes' if communesEpci.communesEpciChilds|length > 1 else 'Commune' }} dans l'EPCI</a>
                                </span>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h3 class="modal-title" id="myModalLabel">{{ 'Communes' if communesEpci.communesEpciChilds|length > 1 else 'Commune' }} de : {{referenciel.epciName}}</h3>
                                          </div>
                                          <div class="modal-body">
                                            <table class="table table-hover" id="ordercommepci">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th data-priority="1"> Commune </th>
                                                        <th data-priority="2"> Code insee </th>
                                                        <th data-priority="3"> Nombre d'espèces </th>
                                                        <th data-priority="4"> Fiche </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for child in communesEpci.communesEpciChilds %}
                                                    <a href = "{{url_for('main.ficheCommune', insee = child.insee) }}">
                                                        <tr>
                                                            <td> {{child.commune_maj}} </td>
                                                            <td> {{child.insee}} </td>
                                                            <td> {{child.nb_sp}} </td>
                                                            <td>
                                                                <a href = "{{url_for('main.ficheCommune', insee = child.insee) }}">
                                                                    <span id="ficheGlyficon"  data-toggle="tooltip" data-original-title="Consulter la fiche commune" data-placement="right" class="glyphicon glyphicon-list"></span>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    </a>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                  </div>
                              </div>

                            </li>
                            <li>
                                <span class="glyphicon glyphicon-tower" style="font-size: 25px;"></span></br><b>Département</b><br/>
                                <a href = "{{url_for('main.ficheDepartement', num_dpt = epciDpt.num_dpt) }}">
                                    <span data-toggle="tooltip" data-original-title="Consulter la fiche département" data-placement="bottom">{{epciDpt.dptName}}<br/>({{epciDpt.num_dpt}})</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


            <div class="row rowMargin" id="clear">
                <div class="col-xs-12" id="ObsCommunes"> 
                    <div class="panel panel-default" >
                        <div class="panel-heading"><h3> {{listTaxons.nbObsTotal | pretty}} {{ 'observations' if listTaxons.nbObsTotal > 1 else 'observation' }} sur l'intercommunalité de <i>{{referenciel.epciName}}</i></h3></div>
                        <div class="row" id="mapRow">

                            <!-- CARTE des dernières observations -->
                            <div id="blocMap" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div id="map">
                                    <img id ="loadingGif" src="">
                                </div>
                            </div>
                            <!-- LISTE des dernières observations -->
                            <div id="listMap" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
                                 <div id="listTaxonsCommune" class="panel panel-default">
                                    {% include 'templates/tabTaxons.html' %}
                                </div>
                                <div id="btnexportlist" class="panel panel-default alert alert-success" role="alert">
                                     <p><b> Télécharger la liste des espèces de l'EPCI <i>{{referenciel.epciName}}</i> </b>
                                        <button class="btn btn-outline-success" id="exportepci" style="margin-left:10px;"><span class="glyphicon glyphicon-download-alt"></span> PDF</button>
                                        <!--button type="button" class="btn btn-outline-success"> 
                                            <a href="{{ url_for('main.listeTaxonEpci_pdf', nom_epci_simple=referenciel.nom_epci_simple) }}" target="_blank" role="button"> <span class="glyphicon glyphicon-download-alt"></span> PDF </a>
                                        </button-->                                 
                                     </p>   
                                </div>
                             </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="alert alert-warning text-justify" style="margin-bottom: 0px;"><b>Avertissement :</b> les données visualisables reflètent l'état d'avancement des connaissances et/ou la disponibilité des données existantes : elles ne peuvent en aucun cas être considérées comme exhaustives. De plus, le moissonnage des bases de données partenaires est toujours en cours, le nombre de données visualisables est amené à augmenter au fil du temps. Il est à noter que certaines données visualisables sont validées au niveau régional, et que d'autres sont encore dans un processus de validation. Ces dernières sont donc visualisables sans être formellement validées. <a href="{{url_for('main.get_staticpages', page='donnees') }}" style="color:#7785ce;">En savoir plus</a>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>           
            </div>
            <div class="row rowMargin">
                <div class="col-xs-12">
                    <div class="panel panel-default" id="statCom">
                        <h2 class="text-center">L'intercommunalité <i>{{referenciel.epciName}}</i> en quelques chiffres</h2>


                        <div class="row" id="otherInformations">
                         
                          <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#donnees"> <b>Observations et espèces</b> </a>
                            </li>
                            <li> 
                                <a data-toggle="tab" href="#provenance"> <b>Provenance des données</b> </a>
                            </li>
                          </ul>

                            
                            <div class="tab-content" style="width:100%;">
                                
                                <div id="donnees" class="tab-pane fade in active">
                                    <div class="col-xs-6 text-center">
                                        <div class="text-center" id="group2inpnGraph"></div>
                                    </div>
                                    <div class="col-xs-6 text-center">
                                        <div class="text-center" id="taxongroup2inpnGraph"></div>
                                    </div>
                                </div>

                                <div id="provenance" class="tab-pane fade">
                                    <div class="col-xs-12 text-center">
                                        <div id="statsorgacommGraph"></div>
                                    </div>

                                    <div class="col-xs-12 text-center">

                                        <div class="col-xs-6 text-center">

                                            <button type="button" class="btn btn-default btn-block btn-lg" data-toggle="modal"
                                        data-target="#listSources">
                                                <h4><b>{{orgas|length | pretty}} {{ 'sources' if orgas|length > 1 else 'source' }}</b>
                                                <br>à l'origine des données</h4>
                                            </button>
                                            <!-- Modal -->
                                            <div id="listSources" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-lg">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;
                                                            </button>
                                                            <h4 class="modal-title"><b>Liste des sources de données de : {{referenciel.epciName}}</b></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="">
                                                                {% for s in orgas %}
                                                                    {{s.orga_obs|safe }}
                                                                    {% if  not loop.last %}
                                                                    -
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                Fermer
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
    
                                        <div class="col-xs-6 text-center">
                                            <button type="button" class="btn btn-default btn-block btn-lg" data-toggle="modal"
                                        data-target="#listObservers">
                                                <h4><b>{{ observers|length | pretty }} {{ 'observateurs' if observers|length > 1 else 'observateur' }}</b>
                                                <br>à l'origine des données</h4>
                                                </button>

                                                <!-- Modal -->
                                                <div id="listObservers" class="modal fade" role="dialog">
                                                    <div class="modal-dialog modal-lg">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                                </button>
                                                                <h4 class="modal-title"><b>Liste des observateurs de : {{referenciel.epciName}}</b></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="">
                                                                    {% for o in observers %}
                                                                        {{o }}
                                                                        {% if  not loop.last %}
                                                                        -
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                    Fermer
                                                                </button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                        </div>

                                    </div>

                                </div>                                    
                            </div>
                        </div>

                    </div>

                </div>
         </div>



        {% include 'static/custom/templates/infoscompl.html' %}


        </div>



        {% if configuration.AFFICHAGE_FOOTER %}
            {% include 'static/custom/templates/footer.html' %}
        {% endif %}
        
        <script type="text/javascript">
            var referenciel = {{referenciel|tojson}};
            var epciDpt = {{epciDpt|tojson}};
            var listespeces = {{listespeces|tojson}};
            var statsorgacomm = {{statsorgaepci|tojson}};
            var statsgroup2inpncomm = {{statsgroup2inpnepci|tojson}};
            var statstaxongroup2inpncomm = {{statstaxongroup2inpnepci|tojson}};
            var communesSearch = {{communesSearch|tojson}};
            var epciSearch = {{epciSearch|tojson}};
            var departementSearch = {{departementSearch|tojson}};
            var configuration = {{configuration|tojson}};
            var observations = {{observations|tojson}};
            var nb_obs = {{listTaxons.nbObsTotal}};
            {% if infosEpci.epciYearSearch.yearmin %}
                    var taxonYearMin = {{infosEpci.epciYearSearch.yearmin}};
            {% else %}
                    var taxonYearMin = 0000;
            {% endif %}
            {% if infosEpci.epciYearSearch.yearmax %}
                    var YEARMAX = {{infosEpci.epciYearSearch.yearmax}};
            {% else %}
                var YEARMAX = 0000;
            {% endif %}
            var epciGeoJson = {{referenciel.epciGeoJson|tojson}};
            var nom_epci_simple = '{{nom_epci_simple}}';
            var url_limit_territory = "{{url_for('static', filename='custom/territoire.json') }}";
            var url_limit_dpt_territory = "{{url_for('static', filename='custom/dpt_pdl_simpli.json') }}";

            //calcul du nb de colonnes pour le fonctionnement de dataTables.js
            var nbColumn = 6;
            {% if not configuration.PRESSION_PROSPECTION %}
                {% if configuration.MYTYPE == 1 %} nbColumn = nbColumn+1;{% endif %}
            {% endif %}
            /*{% if configuration.PATRIMONIALITE %} nbColumn = nbColumn+1;{% endif %}
            {% if configuration.PROTECTION %} nbColumn = nbColumn+1;{% endif %}*/
            var noSordedColumns=[nbColumn-2,nbColumn-1]; //var for dataTables js lib
            var defaultSortedColumn=nbColumn-4; //var for dataTables js lib
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='chart_territoire.js') }}"></script>
        <script src="{{url_for('static', filename='listeEspeces.js') }}"></script>
        <script src="{{url_for('static', filename='listeTerritoire.js') }}"></script>
        <script src="{{url_for('static', filename='mapGenerator.js') }}"></script>
        <script src="{{url_for('static', filename='mapEpci.js') }}"></script>
        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>
