
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	  <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  	        <span class="sr-only">Toggle navigation</span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	      </button>


        <a class="navbar-brand" href="{{url_for('main.index') }}">
            <img class="logoStructure" src="{{url_for('static', filename='custom/images/logo-structure.png') }}" />
        </a>
        <a class="navbar-brand titreAppli" href="{{url_for('main.index') }}">{{configuration.NOM_APPLICATION}}</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <form method="POST" action="" id='searchFormTaxons' class="navbar-form navbar-left" role="search">
			<div class="form-group has-feedback">
			   <input id="searchTaxons" type="text" class="form-control" placeholder="Une espèce ? &nbsp; &nbsp; &nbsp;" loading="true" style="width: 170px; background-image: url('{{url_for('static', filename='images/loading3.gif') }}');" disabled>
			   <span class="glyphicon glyphicon-search form-control-feedback"></span>
			</div>
			<input id="hiddenInputTaxons" type="hidden" name="cd_ref">
	      </form>

	      <form method="POST" onsubmit="completeAction('#searchFormCommunes', hiddenInputCommunes)" id='searchFormCommunes' action=""  class="navbar-form navbar-left" role="search">
				<div class="form-group has-feedback">
					<input id="searchCommunes" type="text" style="width: 170px;" class="form-control" placeholder="Une commune ?" >
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
			    <input id="hiddenInputCommunes" type="hidden" name="insee">
	      </form>

	      <form method="POST" onsubmit="completeAction('#searchFormCommunes', hiddenInputCommunes)" id='searchFormEpci' action=""  class="navbar-form navbar-left" role="search">
				<div class="form-group has-feedback">
					<input id="searchEpci" type="text" style="width: 170px;" class="form-control" placeholder="Un EPCI ?" >
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
			    <input id="hiddenInputCommunes" type="hidden" name="nom_epci_simple">
	      </form>

	      <form method="POST" onsubmit="completeAction('#searchFormCommunes', hiddenInputCommunes)" id='searchFormDepartement' action="" class="navbar-form navbar-left" role="search">
				<div class="form-group has-feedback">
					<input id="searchDepartement" type="text" style="width: 170px;" class="form-control" placeholder="Un département ?" >
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
			   <input id="hiddenInputDepartement" type="hidden" name="nom_dpt_simple">
	      </form>

	  </div>

  </div>
</nav>
<!-- Bandeau d'angle Démonstrateur-->
<div class="corner-ribbon top-right sticky red shadow"><b>Démonstrateur</b></div>
